<launch>
    <group ns="tf03_driver">
        <!-- Current parameters -->
        <rosparam param="sensor_interface">can</rosparam>
        <rosparam param="sensor_frame"> ["front"]</rosparam> 
        <rosparam param="can_transmit_id"> [2]</rosparam>
        <rosparam param="can_receive_id"> 18</rosparam>    
        <rosparam param="can_device">benewake_can</rosparam>

        <!-- Desired parameters -->
        <!-- Make sure to set all parametres so you dont end up with default values -->>
        <rosparam param="set_output_format">serial</rosparam>        
        <rosparam param="print_version">false</rosparam>
    </group>
    <node pkg="tf03_driver" name="tf03_driver" type="tf03_configuration_node" output="screen" required="true">
    </node>
</launch>
